@{
    ViewData["Title"] = "News";
}
<main>
    <div class="container">
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Articles and News </h2>
                <p class="lead">Be aware about actual content </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://sushiya.ua/media/sushiya/images/blog_article/cache/4/c/8/3/3/4c8331b8328d4fe5a862015b102a34a9050de9d4.webp" role="img" />

            </div>
        </div>
        <div class="row featurette mt-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Want to embrace Kyivstar now, but meanwhile for your convenience we turned off authorization on the site
                </h2>
                <p class="lead">
                    Dear friends, while Kyivstar is trying to restore communication as quickly as possible, for your convenience we've temporarily disabled authorization by mobile phone number on the site.
                </p>
            </div>
            <div class="col-md-5 order-md-1">

                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://sushiya.ua/media/sushiya/images/blog_article/cache/0/8/9/6/c/0896c7f8e37a78cda886f225b788d7d4258746cb.webp" role="img" />
            </div>
        </div>

        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">			Corporate offers from restaurant chains Sushiya, il Molino and Tbiliso	</h2>
                <p class="lead">No matter what you are planning: a corporate party, a banquet, a themed night or just food delivery to the office – we are always here to help you in all matters!</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://sushiya.ua/media/sushiya/images/blog_article/cache/5/2/b/9/9/52b9967cfa21eea30e77ac24e15644cdd7b8644c.webp" role="img" />

            </div>
        </div>
    </div>
</main>
