@{
    ViewData["Title"] = "about us";
}
<main>
    <div class="container">
        <div class="row background-cover-sushi align-items-center" style="height: 500px;">
            <div class="col-md-5 mt-5">
                <h2>
                    WHO ARE WE ?
                </h2>
                <p>
                    "Sushiya"- is the largest and fastest growing restaurant chain of modern Japanese cuisine, which unites 23 restaurants in 5 cities of Ukraine!
                </p>
            </div>
            <div class="offset-md-2 col-md-5 ">
            </div>
        </div>
        <div class="row mt-5 justify-content-around d-flex">
            <div class="col text-center">
                <h2>1500</h2>
                <p>company employees</p>
            </div>
            <div class="col text-center">
                <h2>15</h2>
                <p>years we are with you </p>
            </div>
            <div class="col text-center">
                <h2>30</h2>
                <p>restaurants</p>
            </div>
            <div class="col text-center">
                <h2 >10</h2>
                <p> cities of Ukraine </p>
            </div>
            <div class="col text-center">
                <h2>350000</h2>
                <p> monthly guests </p>
            </div>
        </div>

        <div class="row mt-5 background-cover-logo-face align-items-center" style="height: 500px;">
            <div class="col-md-5">
                <h2>
                    ABOUT US
                </h2>
                <p>
                    The first Sushiya restaurant was opened in Kiev in 2006 and immediately won the love of visitors thanks to a wide selection of Japanese dishes.
                </p>
            </div>
            <div class="offset-md-2 col-md-5">
            </div>
        </div>
    </div>
</main>
