@{
    ViewData["Title"] = "Home Page";
}

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://sushiya.ua/media/sushiya/images/sliders/cache/e/a/7/9/9/ea799a4d789b54b13e2d3855ea64b9958a4777d2.webp" width="100%" height="100%">
            </div>
            <div class="carousel-item">
                <img src="https://sushiya.ua/media/sushiya/images/sliders/cache/7/8/1/3/5/78135c76cb8dbf721f0274d00eb17f9ff7daed36.webp" width="100%" height="100%">
            </div>
            <div class="carousel-item">
                <img src="https://sushiya.ua/media/sushiya/images/sliders/cache/8/7/8/8/b/8788bf9d7865ce3a64248d148bdb35f642e3bd9d.webp" width="100%" height="100%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container row m-auto mt-5">
        <div class="col-md-5  row d-flex align-items-center">
            <div class="col-md-6">
                <h2>About Sushiya/Press center</h2>
                <p>"Sushiya"- is the largest and fastest growing restaurant chain of modern Japanese cuisine.</p>
            </div>
            <div class="col-md-6 ">
                <img src="https://sushiya.ua/media/sushiya/images/about_su/cache/4/5/e/2/2/45e22c6e56f4dedd526619dea83e9d5b8a14bfa4.webp" alt="Sushiya Image" class="img-fluid" />

            </div>
        </div>
        <div class="col-md-5 offset-md-2 row d-flex align-items-center">
            <div class="col-md-6">
                <h2>
                    Delivery and payment
                </h2>
                <p>
                    Cost of delivery is 50 UAH. Minimal order sum is 400 UAH. "Sushiya" - best delivery in your city!
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://sushiya.ua/media/sushiya/images/block/cache/6/4/5/1/0/64510acbb26662da5225984e401844fb8cf551c0.webp" alt="Sushiya Image" class="img-fluid" />
            </div>
        </div>
       
    </div>
    <div class="container row m-auto mt-5">
        <div class="col-md-5   row d-flex align-items-center">
            <div class="col-md-6">
                <h2>
                    Restaurants
                </h2>
                <p>					All about Sushiya`s restourants chain				</p>
            </div>
            <div class="col-md-6">
                <img src="https://sushiya.ua/media/sushiya/images/block/cache/d/e/2/b/2/de2b2736a238e5a11842206375d988fb69c2a890.webp" alt="Sushiya Image" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-5 offset-md-2 row d-flex align-items-center">
            <div class="col-md-6">
                <h2>
                    Quality control
                </h2>
                <p>
                    Quality control covers all the stages- from the purchase to the supplying and processing.
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://sushiya.ua/media/sushiya/images/block/cache/4/6/3/f/f/463ff1fa339879df78dec235d91afab8ed5cab5d.webp" alt="Sushiya Image" class="img-fluid" />
            </div>
        </div>


    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- The map will now use the specified image as its background -->
                <div id="map"></div>
            </div>
            <div class="col-md-6">
                <h2>22 RESTAURANTS throughout Ukraine</h2>
                <p><!-- Add your text here --></p>
                <button type="button" class="btn btn-success">VIEW ON THE MAP</button>
            </div>
        </div>

        <!-- Additional Info -->
        <div class="row">
            <div class="col-md-12">
                <p Sushiya is the largest and fastest growing chain of Japanese restaurants in Ukraine. The first restaurant opened in 2006 in Kiev. The restaurant quickly gained popularity among ukrainians, thanks to tasty and healthy dishes, a great selection, pleasant atmosphere, hospitable staff. Sushiya opened in Kiev more than twenty establishments in Shevchenkovsky, Svyatoshinsky, Dniprovsky, Solomensky, Obolonsky, Goloseevsky, Darnitsky, Desnyansky districts of the city.
                   The main mission of Sushiya Restaurant is to prepare delicious and healthy dishes made with fresh ingredients. At our restaurant, customers can try sushi sets, rolls and sushi, hot dishes and salads, desserts and drinks. For vegetarians, we have a vegetarian menu.
                   Also, restaurant Sushiya delivers Japanese cuisine in the city of Kyiv and settlements. We have our own logistics system and a large fleet of vehicles to bring fresh and delicious food.</p>
            </div>
        </div>
    </div>
</main>
